*{
    border:0px;
    margin:0px;
    padding:0px;
}

/*spinner*/
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
/*fine dello spinner*/

/*html*/

html{
    height: 100%;
    width: 100%
}

body{
    background-color: rgba(36, 36, 36, 1);
    width: 100%;
    height: 100%;
    margin:0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

a:link{
	color: #fff;
  font-family: 'Roboto', sans-serif;
}

a:visited {
	color: #fff;
  font-family: 'Roboto', sans-serif;
}


a:hover {
	color: #bde2df;
	text-decoration: none;
}

a.current {color: red;}


header{
    position: fixed;
    text-align: left;
    width: 100%;
    background-color: #F9EB6C;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 30px;
    padding: 20px;
}

p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

footer{
    background-color: #F9EB6C;
    width: 100%;
    height: 50px;
    bottom: 0px;

}


/*classi*/

/*parallasse*/
.menupagina
{
    position: fixed;
    top: 40px;
    right: 0px;
    width: 80%;
    height: 60px;
    background-color: #F9EB6C;
    z-index: 90;
}

nav {
	margin: 0 0 0 0;
}
.navigation {
	list-style: none;
	text-align: center;
	margin: 0;
}
.navigation li{
	display: inline-block;
	padding: 0 25px 0 0;
}

.slide{
	width:100%;
	position: relative;
	padding: 150px 0;
	text-align: center;
}

#container {
	padding: 20px;
	margin: 0 auto;
	width: 100%  ;
	text-align: center;
	background-color: red;
}
#pulsante {
 cursor: pointer;
 text-align: center;
 font-size: 15px;
 font-family: 'Roboto', sans-serif;
 color: #b5d000;
 padding: 10px 20px;
 border: solid 1px #0076a3;
 background: #b5d000;
 background: linear-gradient(top,  #00adee,  #0078a5);
 border-radius: 8px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#pulsante:hover {
 background: #0095cd;
 background: -webkit-linear-gradient(top,  #0078a5,  #00adee);
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 background: -ms-linear-gradient(top,  #0078a5,  #00adee);
 background: -o-linear-gradient(top,  #0078a5,  #00adee);
 background: linear-gradient(top,  #0078a5,  #00adee);
}
#pulsante:active {
	position: relative;
	top: 1px;
}

.slide
{
    width: 100%;
    position: relative;
    padding: 150px 0;
    text-align: center;
}

#slide1 {
 height: 100%;
	background-image:url('../images/1.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

#slide3 {
	background-image:url('../images/2.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

#slide5 {
	background-image:url('../images/3.jpg');
	background-color:#fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

#slide2, #slide4, #slide6 {
	background-color:#ffffff;
	box-shadow: 0 18px 14px -14px rgba(0,0,0,0.4), 0 -18px 14px -14px rgba(0,0,0,0.4);
	z-index: 10;
}

a.current
{
    color: red;
}

/*parallasse*/

.content {
  padding: 16px;
}

/* barra laterale del menu */

.barralaterale
.contenitore{
    position: relative;
    height: 50px;
    width: 40p;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-stretch: extra-condensed;
}

.menulink{
    color: #F9EB6C;

}

.menulink::before, .menulink::after{
    position: absolute;
	top: 100%;
  left: 0px;
	width: 10%;
	height: 1px;
	background: #FFFEFF;
}

.menulink::after{
    opacity: 0;
}

.menulink:hover::before,.menulink:hover::after
{
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.menulink:hover::after{
    top: 0%;
    opacity: 1;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
