/*https://coolors.co/2b061e-934f53-fffeff-c9adb1-7c7272*/

*{
    border:0px;
    margin:0px;
    padding:0px;
}

<style>

/*spinner*/
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
/*fine dello spinner*/
</style>

html{
    min-height: 100%;
}

body{
    background-color: #2A2D31;
    width: 100%;
    min-height: 100%;
    margin:0;
    position: relative;
}

header{
    text-align: left;
    width: 100%;
    background-color: #F9EB6C;
    height: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 30px;
    font-stretch: extra-condensed;
    padding: 20px;
}

.triangolosx {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;

}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.contenitore{
    position: relative;
    height: 20px;
    width: 4000px;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-stretch: extra-condensed;
}

.menulink{
    color: #F9EB6C;
}

.menulink::before, .menulink::after{
    position: absolute;
	top: 100%;
    left: 2%;
	width: 96%;
	height: 1px;
	background: #FFFEFF;
	content: '';
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
    color: #FFFEFF;
}

.menulink::after{
    opacity: 0;
	-webkit-transition: top 0.2s, opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: top 0.2s, opacity 0.2s, -moz-transform 0.2s;
	transition: top 0.2s, opacity 0.2s, transform 0.2s;
}

.menulink:hover::before,.menulink:hover::after
{
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.menulink:hover::after{
    top: 0%;
    opacity: 1;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

footer{
    background-color: #F9EB6C;
    width: 100%;
    height: 50px;
    bottom: 0px;

}
